.nav-link:hover,
.navbar-brand:hover {
  color: red;
  animation: anim 5s linear 2s ease-in infinite alternate;
  border-bottom: 1px solid blue;
}


@keyframes anim {
  from {
    transition: 1s;
    border-bottom-color: blueviolet;
  }
  to {
    border-bottom-color: blue;
   
  }
}


button{
  background-color: blueviolet;
  border: none;
  animation: anim 5s linear 2s ease-in infinite alternate;


}



#home-right{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  .home-right img{
     width: 100%;
     height: 100%;
     border-radius: 50%;
     box-shadow: 2px 6px 10px 4px rgba(31, 24, 24, 0.5);
    margin: 10%;
     transform: scale(1);
  transition:  0.5s ease-in-out;
 
  }
  .home-right img:hover{
    transform: scale(1.1);
  }



  .beautiful-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 23px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  .beautiful-button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }

  /* for Service pages */
 
  div  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 6px 10px 4px rgba(31, 24, 24, 0.5);
    margin: 10%;
    transform: scale(1);
  transition:  0.5s  ease;
 
  }
  div img:hover{
    transform: scale(1.1);
  }


  